version: '3.8'

services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: tasso-backend
    ports:
      - "8000:8000"
    env_file:
      - .env
    restart: unless-stopped
